/* 
    Created on : Mar 9, 2017, 12:22:28 PM
    Author     : juandiego@comtor.net
*/

#loginForm {
    width: 300px;
    margin: 20px auto;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 1.1rem;
    color: #777;
    background-color: var(--main-bg-darker-color);
    padding: 30px 20px;
}

#loginForm .comtorbox div:nth-child(2) {
    padding: 0;
}

#loginForm .DivFormField {
    width: 100%;
    display: block;
}

#loginForm .DivFormField span:first-child {
    display: none;
}

#loginForm .DivFormField span:last-child {
    display: none; 
}

/* Logo cliente */
#logoLogin {
    width: 90%;
}

/* Etiquetas "Usuario" y "Contraseña" */
#loginForm div.DivFormField span:nth-of-type(2) {
    width: 100%;
    padding: 0;
    font-weight: bold;
    text-align: left !important;
    padding: 0.5rem 0;
    display: block;
}

/* Campos input de Usuario y Contraseña */
#loginForm input#login, 
#loginForm input#password {
    width:  calc(100% - 25px);
    border-radius: 7px;
    padding: 0.5rem 0 0.5rem 25px;
    font-size: 1.1rem;
    color: var(--form-input-text-color);
    background-color: white;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

/* Campo input de Usuario */
#loginForm input#login {
    background-image: url(../images/fingerprint_comtorblue_24.png);
}

#loginForm input#login:focus{
    background-image: url(../images/fingerprint_comtorlight_24.png);
}

#loginForm input#password {
    background-image: url(../images/key_comtorblue_24.png);
}

#loginForm input#password:focus {
    background-image: url(../images/key_comtorlight_24.png);
}

#loginForm #ok {
    margin: 20px auto 0;
    width: 50%;
}

/* Mensaje de error */
#loginForm #login_error_message {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0 0;
    overflow: auto;
}

#loginForm #login_error_message img {
    width: 20px;
    display: inline-block;
}

#loginForm #login_error_message span {
    display: inline-block;
    text-decoration: underline;
    color: #E60000;
    text-align: center;
    margin: 1px;
}

#loginForm div.comtorboxheader{
    display: none;
}

#loginForm .DivFormField span:nth-child(3){
    background-position: 12% bottom;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    clear: both;
}


