/* 
    Created on : Apr 9, 2019, 4:32:12 PM
    Author     : juandiego
*/

#campaign_form img {
    max-height: 300px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.card,
.card-header,
.card-content {
    margin-right: initial !important;
    margin-left: initial !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    word-wrap: break-word;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--secondary-color-light);
    border-bottom: 1px solid rgba(0, 0 , 0, .125);
    color: white;
    font-weight: bold;
    text-decoration: underline;
}


.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: initial !important;
    margin-right: initial !important;
}

.card-body table {
    margin: auto;
    width: 100%;
}

.card-body table td {
    text-align: center !important;
}

.card-body table td:first-child {
    width: 1%;
}

.map {
    height: 100vh;
    width: calc(100% - 550px);
    transition: margin-left .5s;
    float: left;
    display: inline-block;
}

#nav_menu_container {
    display: inline-block;
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
}

#nav_menu {
    height: 100%;
    width: 500px;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    display: inline-block;
    float: left;
}

#nav_menu form {
    width: 100% !important;
    min-width: initial !important;
}

#nav_menu_tab {
    width: 50px;
    margin: 0 !important;
    display: inline-block;
    background: var(--main-color);
    float: left;
    height: 100%;
    cursor: pointer;
    font-size: 20pt;
    color: white;
}

#nav_menu_tab a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: bolder;
}

#nav_menu_tab a:hover {
    color: #f1f1f1;
}

#nav_menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav_menu .summary_table {
    width: 100%;
}

#nav_menu .summary_table th,
#nav_menu .summary_table td {
    text-align: center;
}

.conventions {
    width: 100%;
    margin-top: 0 !important;
}

.conventions tr td:first-child {
    margin: 0 !important;
    padding: 0 !important;
    width: 30px;
}

.conventions tr td:first-child img {
    margin: 0;
    padding: 0;
    width: 33px;
}

.gps_marker_info_window {
    margin: 20px 0 10px;
}

.gps_marker_info_window h3 {
    margin: 0;
    padding: 5px 0;
    display: block;    
}

.gps_marker_info_window span {
    font-size: 10pt;
    margin: 0;
    padding: 5px;
    display: block;     
}

#w3w_map_frame {
    width: 80%;
    height: 500px;         
}

#zone_table,
#zone_table th, 
#zone_table td {
    border: 1px solid var(--table-border);
    color: #000000;
    font-size: 11pt;
}

#zone_table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    padding: 0;
}

#zone_table th { 
    height: 32px;
    font-family: OpenSans-Bold;
    color: #FFFFFF; 
    background-color: var(--table-header); 
    padding: 0 5px;
    text-align: center;
}

#zone_table td {
    padding: 0 10px;
    text-align: left;
}

#zone_table tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

#zone_table tr:nth-child(even) {
    background-color: var(--table-row-even);
}

#zone_table td input {
    width: initial;
    margin: 0.5rem;
}

.deleteSection {
    display: block;
    margin: auto;
    clear: both;
}

form#hotspot_map_filter {
    margin: 10px !important;
    width: initial !important;
}


form#hotspot_map_filter div.DivFormField > span:first-child,
form#hotspot_map_filterdiv.DivFormField > span:last-child{
    display: none;
}

form#hotspot_map_filter div.DivFormField span:nth-child(2) {
    width: calc(25% - 1rem); 
}

form#hotspot_map_filter div.DivFormField > span:nth-child(3) {
    width: calc(75% - 1rem); 
}

canvas {
    max-height: 400px;
    width: auto !important;
    cursor: pointer;
}